.flex-box {
  display: flex;
  flex-direction: row;
  gap: 60px;
}

.heading-primary {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 120%;
}

.text {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #1f1249;
}
