* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  color: #000;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: pink;
}

.flex-box {
  display: flex;
  flex-direction: row;
  gap: 60px;
  align-items: center;
}

.box-container {
  margin: 0 auto;
  background: rgba(245, 247, 255, 0.85);
  border-radius: 10px;
  padding: 60px;
}

.img-container {
  height: 100%;
}
