.welcome-img {
  width: 450px;
  height: 315px;
  border-radius: 10px;
}

.heading-primary {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 120%;
  margin-bottom: 20px;
}

.text {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #1f1249;
  margin-bottom: 40px;
}

